h1 {
  font-size: 8vh;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0px;
}
.lets-go {
  display: none;
}
.file-upload {
  display: none;
}
.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-upload-label {
  font-size: 3vh;
  padding: 0%;
}
.file-upload-label:hover {
  cursor: pointer;
}
.file-upload-success {
  display: none;
}
.file-upload-fail {
  display: none;
}

.home_options {
  display: flex;
}

.teleprompter {
  width: 33%;
  height: 25vh;
  background-color: rosybrown;
}

.presentation {
  width: 34%;
  height: 25vh;
  background-color: royalblue;
}

.tele_and_pres {
  width: 33%;
  height: 25vh;
}

.tp_options {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: green;
}