* {
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4vh;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}
.current {
  font-size: 4vh;
}
.next {
  font-size: 3vh;
  color: gray;
}

#teleprompter-controls {
  text-align: center;
  margin: 20px 0;
}

#speed-control {
  width: 50%;
  margin: 10px 0;
}